#container {
   border: solid black 10px;
   min-width: 500px;
   min-height: 500px;
   max-height: 500px;
   max-width: 500px;
   height: 500px;
   width: 500px;
   display: table;
    
}

.box {
    min-width: 5px;
    min-height: 5px;
    max-width: 500px;
    max-width: 500px;
    flex-flow: column;
    flex: 1;
    overflow: auto;
    justify-self: stretch;
    display: table-cell;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: stretch;
    display: table-row;
}

.gridcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    f
}
h1, h2 {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    text-align: center;
}
p {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
#blackbackground {
    background: black;
}

#redbackground {
    background: red;
}

#greenbackground {
    background: green;
}

#purplebackground {
    background: purple;
}

#orangebackground {
    background: orange;
}

#bluebackground {
    background: blue;
}

#gridcontrols {
   margin-top: 10px;
}

#rowsize {
    max-width: 150px;
}

#columnsize {
    max-width: 150px;
}

#gridsizevalue {
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#clear {
    background-color: white;
    color: black;
    border-color: black;
}

#white {
    background-color: white;
    color: black;
    border-color: black;
}

#black {
    background-color: black;
    color: white;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#purple {
    background-color: purple;
}

#orange {
    background-color: orange;
}

#blue {
    background-color: blue;
}

#rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
h1 {
    text-align: center;
}
.content {
display: flex;
justify-content: center;
gap: 10px;
font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}





.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}


.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

