body {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}

#container {
   border: solid rgb(24, 168, 220) 2px;
   min-width: 700px;
   min-height: 700px;
   max-height: 700px;
   max-width: 700px;
   height: 700px;
   width: 700px;
   display: table;
}
.box:hover {
    background: rgb(73, 152, 194);
}
.box {
    min-width: 5px;
    min-height: 5px;
    max-width: 700px;
    max-width: 700px;
    flex-flow: column;
    flex: 1;
    overflow: auto;
    justify-self: stretch;
    display: table-cell;
    border: solid rgba(178, 182, 182, 0.214) 0.2px;
}



.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: stretch;
    display: table-row;
}

.gridcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    f
}


h1 {
    font-size: 50px;
}
  
#blackbackground {
    background: black;
    flex: 1;
}

#redbackground {
    background: red;
    flex: 1;
}

#greenbackground {
    background: green;
    flex: 1;
}

#purplebackground {
    background: purple;
    flex: 1;
}

#orangebackground {
    background: orange;
    flex: 1;
}

#bluebackground {
    background: blue;
    flex: 1;
}

#gridcontrols {
   margin-top: 10px;
}

#rowsize {
    max-width: 150px;
}

#columnsize {
    max-width: 150px;
}

#gridsizevalue {
    text-align: center;
}

#rainbowbackground {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    flex: 1;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#clear {
    background-color: white;
    color: black;
    border-color: black;
    flex: 1;
}

#white {
    background-color: white;
    color: black;
    border-color: black;
    flex: 1;
}

#black {
    background-color: black;
    color: white;
    flex: 1;
}

#red {
    background-color: red;
    flex: 1;
}

#green {
    background-color: green;
    flex: 1;
}

#purple {
    background-color: purple;
    flex: 1;
}

#orange {
    background-color: orange;
    flex: 1;
}

#blue {
    background-color: blue;
    flex: 1;
}

#yellow {
    background-color: yellow;
    color: black;
    flex: 1;
}

#none {
    background: linear-gradient(
        90deg,
        rgba(33, 192, 220, 0.639) 0%,
        rgb(33, 192, 220, 0.639) 10%,
        rgb(33, 192, 220, 0.639) 20%,
        rgba(33, 192, 220, 0.639) 30%,
        rgba(33, 192, 220, 0.639) 40%,
        rgba(33, 192, 220, 0.639) 50%,
        rgba(33, 192, 220, 0.639) 60%,
        rgba(33, 192, 220, 0.639) 70%,
        rgba(33, 192, 220, 0.639) 77%,
        rgb(5, 8, 12) 79%,
        rgba(250, 90, 133, 0.564) 80%,
        rgba(250, 90, 133, 0.564) 90%,
        rgba(250, 90, 133, 0.564) 100%
        
    );

    border-top-right-radius: 20%;
    border-bottom-right-radius: 10px;
    flex: 1;
}

#rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    flex: 1;
}

#circle {
    border-radius: 100%;
    background: rgba(13, 228, 13, 0.44);
}

#square {
    border-radius: 0;
    width: 90px;
    height: 90px;
    background: rgba(13, 224, 228, 0.44);
}

#randomise {
    background: rgba(181, 13, 228, 0.44);
    width: 120px;
    height: 90px;
}

#surprise {
    background: rgba(228, 13, 70, 0.44);
    width: 120px;
    height: 90px;
}
h1 {
    text-align: center;
}
.content {
display: flex;
justify-content: center;
gap: 10px;
font-size: 18px;
}

.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6 {
    align-items: center;
    background-clip: padding-box;
    background-color: #14e974;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline; 
  }

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(220, 10, 10, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
  box-shadow: rgba(36, 31, 31, 0.276) 0 4px 12px;
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(133, 128, 128, 0.605) 0 2px 4px;
  transform: translateY(0);
}

.footer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.footer img {
    width: 50px;
    height: 50px;
}

.footer img:hover {
    transform: translateY(-1px);
}

.footer p {
    font-size: 10px;
}

@media screen and (max-width: 480px) {
    #container {
        border: solid rgb(24, 168, 220) 2px;
        min-width: 250px;
        min-height: 250px;
        max-height: 250px;
        max-width: 250px;
        height: 250px;
        width: 250px;
        display: table;
     }

     .box {
        min-width: 1px;
        min-height: 1px;
        max-width: 250px;
        max-width: 250px;
        flex-flow: column;
        flex: 1;
        overflow: auto;
        justify-self: stretch;
        display: table-cell;
        border: solid rgba(178, 182, 182, 0.214) 0.2px;
    }

    #main-content {
        max-height: 400px;
    }

    .button-5 {
        align-items: center;
        background-clip: padding-box;
        background-color: #fa6400;
        border: 1px solid transparent;
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: 'Mochiy Pop P One', sans-serif;
        font-size: 5px;
        font-weight: 600;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 1rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
      }
      
      .button-6 {
          align-items: center;
          background-clip: padding-box;
          background-color: #14e974;
          border: 1px solid transparent;
          border-radius: .25rem;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          display: inline-flex;
          font-family: 'Mochiy Pop P One', sans-serif;
          font-size: 5px;
          font-weight: 600;
          justify-content: center;
          line-height: 1.25;
          margin: 0;
          min-height: 3rem;
          padding: calc(.875rem - 1px) calc(1.5rem - 1px);
          position: relative;
          text-decoration: none;
          transition: all 250ms;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          vertical-align: baseline; 
        }

        h1 {
            font-size: 20px;
        }

        .controls {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            max-height: 200px;
            max-width: 60px;
            align-self: flex-end;
        }

        p {
            font-size: 10px;
        }

        .content {
        
        }

        #header {
padding-bottom: 50px;
        }

        #circle {
            border-radius: 100%;
            background: rgba(13, 228, 13, 0.44);
            height: 60px;
            width: 60px;
        }
        
        #square {
            border-radius: 0;
            width: 60px;
            height: 60px;
            background: rgba(13, 224, 228, 0.44);
        }
        
        #randomise {
            background: rgba(181, 13, 228, 0.44);
            width: 70px;
            height: 40px;
        }
        
        #surprise {
            background: rgba(228, 13, 70, 0.44);
            width: 70px;
            height: 40px;
        }

        body {
            display: flex;
            flex-direction: column;
    
        }

        label {
            font-size: 10px;
        }

        #gridcontrols {
            display: flex;
            flex-wrap: wrap;
            max-width: 200px;
            justify-content: center;
            align-content: center;
            align-self: center;
  
        }
        .centerpage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            
        }
        
}